.dashboard.index{
  @extend %empty;
  &>.employee_list{
    margin-top: 2rem;
    &>.ui.container{
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
}
.dashboard.calculate{
  &>.ui.container{
    &>.calculate_form{
      &>.segment{
        &>.field{
          &>label{
            color: rgba(0, 0, 0, 0.4);;
          }
        }
        &>.desc{
          float: right;
        }
      }
    }
  }
}
