.sessions.new{
  background-color: #DADADA !important;
  &>.clearance{
    margin-top: 5rem;
    &>.grid{
      height: 100%;
      &>.column{
        max-width: 450px;
      }
    }
  }
}

.users.new{
  background-color: #DADADA !important;
  &>.clearance{
    margin-top: 5rem;
    &>.grid{
      height: 100%;
      &>.column{
        max-width: 450px;
      }
    }
  }
}
